body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

body {
  position: relative;
}

#main-nav {
  background-color: rgb(230, 226, 1);
  height: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#nav-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#ask-btn {
  display: none;
  border: none;
  background-color: #008cba;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  font-size: 0.9em;
  cursor: pointer;
}

#mobile-task-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  z-index: 10;
  background-color: #008cba;
  border: 1px solid green;
}

#main-content {
  position: relative;
  height: calc(100vh - 2em);
}

#content-title {
  text-align: center;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

#task-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
}

.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  padding: 0.3em;
  border: 0.1em solid gray;
  border-radius: 0.1em;
  width: 100%;
}

.task-card > p {
  font-size: 0.85em;
}

.task-card > button {
  border: none;
  background-color: #ba0000;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  font-size: 0.8em;
}

#modal-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

#new-task-form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
}

#new-task-form input[type="text"],
#new-task-form input[type="datetime-local"],
#new-task-form input[type="submit"] {
  padding: 0.5em;
  border: 1px solid #818181;
  border-radius: 4px;
}

#new-task-form input[type="submit"] {
  background-color: green;
  color: white;
  cursor: pointer;
}

#new-task-form input[type="submit"]:hover {
  background-color: rgb(0, 97, 0);
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.completed {
  background-color: gray;
}

.completed > h3 {
  text-decoration: line-through;
}

@media (min-width: 480px) {
  #main-content {
    height: calc(100vh - 5em);
  }
  #main-nav {
    height: 4em;
  }
  #nav-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #ask-btn {
    display: block;
  }

  #mobile-task-btn {
    display: none;
  }

  #task-list {
    align-items: center;
  }
}

@media (min-width: 550px) {
  #task-list {
    width: 90%;
    align-items: center;
  }

  .task-card {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  #task-list {
    width: 90%;
    align-items: center;
  }

  .task-card {
    max-width: 50%;
  }
}
