body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  position: relative;
}

#main-nav {
  background-color: rgb(230, 226, 1);
  height: 40px;
  display: flex;
  align-items: center;
}

#nav-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#ask-btn {
  display: none;
  border: none;
  background-color: #008cba;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  font-size: 0.8em;
}

#mobile-task-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 2em;
  width: 2em;
  line-height: 1em;
  border-radius: 50%;
  z-index: 10;
}

#main-content {
  position: relative;
  height: calc(100vh - 40px);
}

#task-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
}

.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  padding: 0.3em;
  border: 0.1em solid gray;
  border-radius: 0.1em;
}

#modal-container {
  position: absolute;
  background-color: rgb(214, 214, 214);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#new-task-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@media (min-width: 480px) {
  #nav-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #ask-btn {
    display: inline-block;
  }

  #mobile-task-btn {
    display: none;
  }
}
